/* Insert your custom override CSS in this file */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --main-color: #95579a;
  --second-color: #c674cd;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: relative;
}

.navbar.navbar-default {
  background-color: #95579a !important;
  color: #fff;
  height: auto;
}
.navbar.navbar-default a.navbar-brand {
  color: #fff;
}
.titreAppli {
  font-size: inherit;
  line-height: inherit;
}
#sideBar {
  margin-top: 0;
  width: 70px;
  padding-top: 20px; /* allow for extension of logo */
}
.logoStructure {
  height: auto;
  width: 70px; /* same as sidebar */
  padding-right: 0;
}
#page {
  padding-left: 80px; /* sidebar + 10px padding */
  margin-top: 20px; /* same as panel margin-bottom */
}
#page section {
  margin-bottom: 60px;
}
#carte {
  padding-left: 70px; /* for sidebar */
  padding-right: 0;
  margin-top: 0;
  height: 100%;
}
.carte {
  height: 100%;
  overflow: hidden;
}
.caption {
  text-transform: uppercase;
  font-weight: 500;
}
