/* Insert your custom override CSS in this file */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --main-color: #95579a;
  --second-color: #c674cd;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar.navbar-default {
  background-color: #95579a !important;
  color: #fff;
  height: auto;
}
.navbar.navbar-default a.navbar-brand {
  color: #fff;
}
.titreAppli {
  font-size: inherit;
  line-height: inherit;
}
