<!DOCTYPE html>
<html class="carte">

<head>
  <meta charset="utf-8" />
  <title>Carte de l'atlas | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

  <!-- Jquery -->
  <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">
  </link>
  <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

  <!-- Atlas -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" />
  <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />

</head>

<body class="carte">
  {% include 'templates/navbar.html' %}

  <div id="sideBar">
    {% include 'templates/sideBar.html' %}
  </div>

  <div id="carte">
    <iframe src="/atlas/static/custom/templates/map/index.html" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
  </div>

  <script type="text/javascript">
    var configuration = {
      {
        configuration | tojson
      }
    };
  </script>

  <script src="{{url_for('static', filename='main.js') }}"></script>

</body>

</html>
